* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


h1 {
    color: rgb(62, 41, 0);
    text-decoration: underline;
}

.itemPrice {
    background-color: magenta;
}

.solidItem {
    border: solid thick purple;
}

#discountPrice {
    text-decoration: line-through;
}