
:root {
    --mainColor: Magenta; 
    --bgColor: lightYellow;
    --secondaryColor: blue;
}

h1 {
    color: var(--mainColor);
}
body {
    background-color: var(--bgColor);
}
p {
    color: var(--secondaryColor);
}