* {
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 1.5%;
    width: 30%; height: 150px;
    background-color: brown; color: yellow;
    font-size: 2em;
}



@media only screen and (max-width: 992px) {
    body {
        background-color: purple;
    }
    .item {
        width: 45%;
        font-size: 4em;
    }
}

@media only screen and (max-width: 576px) {
    body {
        background-color: yellowgreen;
    }
    .item {
        width: 95%;
        font-size: 4em;
    }
}

